.c-header {
    background-color: #1cbb8c;

}

.c-header>a {
    color: #fff;
}



.carousel-inner>.carousel-item>img {
    /*object-fit: scale-down;*/
    height: 40vh;
    width: 100%;
}

@media (min-width: 576px) {
    .carousel-inner>.carousel-item>img {
        height: 60vh;
        width: 100%;
    }
}

@media (min-width: 990px) {
    .carousel-inner>.carousel-item>img {
        height: 80vh;
        width: 100%;
    }
}


.carousel-control-prev i {
    background-color: #1cbb8c;
    border-radius: 100%;
    padding: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 250px;
}
.carousel-control-next i {
    background-color: #1cbb8c;
    border-radius: 100%;
    padding: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 250px;
}

.carousel-indicators [data-bs-target] {
    background-color: #1cbb8c;
    border-radius: 100%;
    width: 16px;
    height: 16px;
}


.categoria {
    text-decoration: none;
    color: #000;
    transition: color 300ms;
    margin: 0 10px;
    display: inline-block;


}

.categoria:hover {
    color: #1cbb8c;
}

.categoria__inner {}

.categoria__imagen {
    background-color: #f3f6fa;
    border-radius: 100%;
}

.categoria__title {}

.productos {
    /*display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 16px;*/
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.producto {
    background-color: #fff;
    padding: 16px;
    box-shadow: 0px 0px 2px rgba(174, 181, 189, .9);
    border-radius: 8px;
    max-width: 250px;
    position: relative;
}

.producto__image {
    height: 180px;
}

.producto__image>img {
    height: 100%;
}

.producto__price {
    font-weight: bold;
}

.producto__title {
    font-size: 16px;
}

.producto__agregar {
    /*position: absolute;
    bottom: 56px;
    right: 16px;*/
    background-color: #1cbb8c;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: background-color 300ms;

}

.producto__agregar:hover {
    background-color: #1bd59e;
}

.producto__agregar>i {
    font-size: 16px;
    color: #fff;
}

/* SINGLE PRODUCT */
.single-product {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .single-image {
    background-color: #f3fbf7;
    margin-right: 20px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .single-image img {
    width: 90%;
    height: 700px;
    object-fit: contain;
  }
  .product-name {
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 30px;
  }
  
  .display-flex {
    display: flex;
  }
  .product-info {
    width: 100%;
  }
  .product-dtl p {
    line-height: 24px;
    color: #7a7a7a;
  }
  .product-count {
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    margin-top: 40px;
  }
  .product-count .flex-box {
    padding: 15px 25px;
    border-bottom: 2px solid #f3f3f3;
  }
  .product-count .flex-box h6 {
    font-size: 16px;
  }
  .product-count .flex-box span {
    font-weight: 600;
    color: #000000;
  }
  .product-count .flex-box select {
    background-color: #f3f3f3;
    width: 100px;
    height: 40px;
    text-align: center;
    border: 0px;
    border-radius: 5px;
  }
  .round-black-btn {
    border-radius: 4px;
    background: #000000;
    color: #fff;
    width: 100%;
    height: 50px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.5s ease-in-out 0s;
  }
  .round-black-btn:hover,
  .round-black-btn:focus {
    background: #1cb803;
  }



/*Seccion Footer*/

.c-footer {
    background-color: #1cbb8c;
    color: #fff;
}


.footer {
    /* background-color: #7857fe; */
    background-color: #1cbb8c;
    padding: 50px 0 0;
}

.footer-col h3 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin: 0 0 25px;
    text-transform: capitalize;
}

.footer-col p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}

.footer-col ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    display: block;
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    padding-left: 5px;
}

.footer-col ul li i {
    font-size: 24px;
    margin-right: 8px;
}

.footer-col ul li span {
    font-size: 16px;
    /* line-height: 24px; */
}

.footer .copyright-text {
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}


/*Login*/


.containerLogin {
    box-shadow: 0 5px 10px #53B175;
}

.bg {
    /* background-image: url(/images/bannerLogin.jpg); */
    background-position: center;
}

.button1 {
    background: #53B175;
}

.button1 button {
    color: #fff;
}

.button1 button:hover {
    font-weight: 700;
    color: #fff;
}

/* Media Query */

@media screen and (max-width: 768px) {
    .formularioLogin {
        width: 75% !important;
    }
    .carousel-control-prev i {
        margin-right: 120px;
    }
    .carousel-control-next i {
        margin-left: 120px;
    }
}

@media screen and (max-width: 425px) {
    .formularioLogin {
        width: 100% !important;
    }
    .carousel-control-prev i {
        margin-right: 0px;
    }
    .carousel-control-next i {
        margin-left: 0px;
    }
}

@media screen and (max-width: 320px) {
    .formularioLogin {
        width: 100% !important;
    }
    .carousel-control-prev i {
        margin-right: 0px;
    }
    .carousel-control-next i {
        margin-left: 0px;
    }
}

.valido {
    color: #198754;
}

.error {
    color: #dc3545;
}

.btn-cart {
    background: #1cbb8c;
    color: #fff;
    transition: background 300ms;
}

.btn-cart:hover {
    color: #fff;
    background: #0ec58f;
}

.precio {
    color: #1cbb8c;
}

.cart-wrapper {
    position: relative;
}

.cart-wrapper__background {
    background: rgba(255, 255, 255, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cart-wrapper__title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.cart-wrapper__loader {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 60%);
    z-index: 2;
}